body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  color: #e82c2a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
